.deleteAccountComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #2c323a;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  &__errorMsg {
    color: #d00;
    font-size: 1.1em;
    height: 1.1em;
    text-align: center;
  }
}
