.selectComponent {
  width: 100%;
  border: none;
  text-align: center;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
  color: #aaa;
  // font-size: 1.2em;
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    font-size: 1.1em;
    color: #ddd;
    margin-bottom: 5px;
  }

  &__wrapper {
    background: #464C55;
    display: flex;
    font-size: 1.2em;
    position: relative;
    &__actual {
      padding: 5px 0;
      flex: 1;
    }
  
    &__arrow {
      position: absolute;
      height: 100%;
      right: 0;
      width: calc(1.2em + 10px);
      display: flex;
      justify-content: center;
      align-items: center;
      background: #373C43;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__optionWrapper {
    position: absolute;
    top: 100%;
    background: #464C55;
    width: 100%;
    z-index: 2;
    max-height: 130px;
    overflow-y: auto;
    scrollbar-width: none;
    &__option {
      padding: 5px 0;
      &:hover {
        background: #373C43;
        cursor: pointer;
      }
    }
  }

  &--small {
    width: 250px;
  }
}