.budgetChartComponent {
  width: 100%;
  height: 100%;
  background: #2C323A;
  display: flex;
  flex-direction: column;

  &__wrapper {
    flex: 1;
    display: flex;

    &__chart {
      flex: 1;
    }

    &__filter {
      width: 200px;
    }
  }
}

@media screen and (max-width: 1230px) {
  .budgetChartComponent {
    &__wrapper {
      flex-direction: column;
      &__filter {
        width: 100%;
      }
    }
  }
}