.userDataComponent {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;

    &__header {
      margin-right: 5px;
    }
    &__value {
      color: #aaa;
    }
  }
}