.inputStyle {
  width: 100%;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  padding: 5px 0;
  margin: 0;
  border: none;
  background: #464C55;
  color: #ddd;
  text-align: center;
  &--error {
    border: 1px solid #d00;
    width: calc(100% - 2px);
    padding: 4px 0;
  }
  &--succes {
    border: 1px solid #059B00;
    width: calc(100% - 2px);
    padding: 4px 0;
  }
}

@media screen and (max-width: 1230px) {
  .labelStyle {
    width: 100%;
    text-align: center;
  }
}