.logoComponent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__shortcut {
    margin: 0;
    padding: 0;
  }

  &__fullTitle {
    margin: 0;
    padding: 0;
    color: #aaa;
  }
}