.goalView {
  width: calc(100vw - 250px);
  height: calc(100vh - 75px);
  background: #343b45;
  display: flex;
  flex-direction: column;
  &__wrapper {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'active history allGoals'
    'active history completGoals'
    'active history moneyGoal'
    'active history empty';


    &__active {
      grid-area: active;
    }
    &__history {
      grid-area: history;
    }
    &__allGoals {
      grid-area: allGoals;
    }
    &__completGoals {
      grid-area: completGoals;
    }
    &__moneyGoal {
      grid-area: moneyGoal;
    }
  }
}


@media screen and (max-width: 1680px) {
  .goalView {
    width: 100vw;
  }
}

@media screen and (min-width: 1230px) {
  .goalView {
    &__subMenu {
      display: none;
    }
  }
}

@media screen and (max-width: 1230px) {
  .goalView {
    $heightCalc: calc(var(--vh, 1px) * 100);
    $temp: calc(#{$heightCalc} - 75px);
    height: $temp;
    &__wrapper {
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 0px;
    }
    &__subMenu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background: #262b33;
      width: 100vw;
      height: 75px;
      bottom: 0;
      left: 0;
    }
  }
}