.layoutView {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas: 'top top'
  'nav content';

  &__top {
    grid-area: top;
  }

  &__nav {
    grid-area: nav;
    z-index: 1;
  }

  &__content {
    grid-area: content;
  }
}

@media screen and (min-width: 1680px) {
  .layoutView {
    &__navMobile {
      display: none;
    }
  }
}

@media screen and (max-width: 1680px) {
  .layoutView {
    grid-template-columns: 0 1fr;
    &__nav {
      display: none;
    }
    &__navMobile {
      position: absolute;
      width: 100vw;
      left: -250px;
      top: 75px;
      height: calc(100% - 75px);
      z-index: 3;
      display: flex;
      &__menu {
        width: 250px;
        background: #2C323A;
        z-index: 2;
      }
      &__background {
        width: 100vw;
        height: calc(100vh - 75px);
        background: rgba(17,17,17, 0.7);
        position: absolute;
        left: 250px;
        top: 0;
      }
    }
  }
}

// @media screen and (max-width: 1230px) {
//   .layoutView {
//     &__content {
//       width: 100vw;
//     }
//   }
// }

.isDisplay {
  display: flex;
}

.isNotDisplay {
  display: none;
}

.inTransform {
  transform: translateX(0);
}

.outTransform {
  transform: translateX(-100vw);
  transition-delay: 1s;
}

.showMenuAnimation {
  transform: translateX(250px);
  transition-duration: 0.5s;
}

.unshowMenuAnimation {
  transform: translateX(-250px);
  transition-duration: 1s;
}

.fadeIn {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.fadeOut {
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}