.layoutView {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas: 'top top'
  'nav content';

  &__top {
    grid-area: top;
  }

  &__nav {
    grid-area: nav;
  }

  &__content {
    grid-area: content;
  }
}

