.topComponent {
  width: 100vw;
  height: 100%;
  background: #2C323A;
  display: flex;

  &__logo {
    width: 250px;
  }

  &__empty {
    flex: 1;
  }

  &__settings {
    width: 75px;
  }

  &__notification {
    width: 75px;
  }

  &__add {
    width: 75px;
  }

  &__hamburger {
    width: 75px;
  }
}

@media screen and (min-width: 1680px) {
  .topComponent {
    &__hamburger {
      display: none;
    }
  }
}


@media screen and (max-width: 1680px) {
  .topComponent {
    &__hamburger {
      display: block;
    }
  }
}

@media screen and (max-width: 1230px) {
  .topComponent {
    width: 100vw;
  }
}